{% extends 'admin/layouts/admin_layout.html' %}
{% block title %}Product{% endblock %}

{% block content %}
<div class="content-wrapper">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Dashboard</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-3 col-6">
            <div class="small-box bg-info">
              <div class="inner">
                <h3 id="printerCount">0</h3>
                <p>Printers</p>
              </div>
              <div class="icon">
                <i class="ion ion-printer"></i>
              </div>
              <a href="{% url 'kiosk_printer_list' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>

          <div class="col-lg-3 col-6">
            <div class="small-box bg-success">
              <div class="inner">
                <h3 id="locationCount">0</h3>
                <p>Locations</p>
              </div>
              <div class="icon">
                <i class="ion ion-location"></i>
              </div>
              <a href="{% url 'kiosk_location_list' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>

          <div class="col-lg-3 col-6">
            <div class="small-box bg-warning">
              <div class="inner">
                <h3 id="costCount">0</h3>
                <p>Cost</p>
              </div>
              <div class="icon">
                <i class="ion ion-cash"></i>
              </div>
              <a href="{% url 'price_cost_list' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>

          <div class="col-lg-3 col-6">
            <div class="small-box bg-danger">
              <div class="inner">
                <h3 id="orderCount">0</h3>
                <p>Orders</p>
              </div>
              <div class="icon">
                <i class="ion ion-folder"></i>
              </div>
              <a href="{% url 'order_list' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function () {
      $.ajax({
          url: "{% url 'display_cost' %}",
          type: "GET",
          success: function (data) {
              $("#costCount").text(data.recordsTotal); 
          },
          error: function () {
              console.error("Failed to fetch cost count.");
          }
      });

      $.ajax({
          url: "{% url 'display_order' %}",
          type: "GET",
          success: function (data) {
              $("#orderCount").text(data.recordsTotal); 
          },
          error: function () {
              console.error("Failed to fetch order count.");
          }
      });

      $.ajax({
          url: "{% url 'location_ajax_list' %}",
          type: "GET",
          success: function (data) {
              $("#locationCount").text(data.recordsTotal); 
          },
          error: function () {
              console.error("Failed to fetch location count.");
          }
      });

      $.ajax({
          url: "{% url 'display_printer' %}",
          type: "GET",
          success: function (data) {
              $("#printerCount").text(data.recordsTotal); 
          },
          error: function () {
              console.error("Failed to fetch printer count.");
          }
      });
  });
</script>
{% endblock %}
